<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.zp.com.myandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.NativeActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.JumpActivity"
            >
        </activity>
        <activity
            android:name=".activity.JumpActivity1"
            android:launchMode="singleInstance">

        </activity>
        <activity android:name=".activity.JumpActivity2">

        </activity>
        <activity android:name=".activity.BroadCaseReceiverActivity">

        </activity>

        <receiver android:name="test.zp.com.myandroid.receiver.MyReceiver">
            <intent-filter>
                <action android:name="com.demo.test.action" />
            </intent-filter>
        </receiver>
        <activity android:name=".activity.ServiceActivity" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>